Schedule/schedule.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://127.0.0.1"
	xmlns="http://127.0.0.1"
	elementFormDefault="qualified">

<xsd:simpleType name="stringType">
	<xsd:restriction base="xsd:string">
</xsd:simpleType>

<xsd:simpleType name="intType">
	<xsd:restriction base="xsd:positiveInteger">
</xsd:simpleType>

<xsd:complexType name="dateType">
	<xsd:sequence>
		<xsd:element name="day" type="stringType"/>
		<xsd:element name="month" type="intType"/>
		<xsd:element name="year" type="intType"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="rowType">
	<xsd:element name="classNum" type="intType"/>
	<xsd:element name="date" type="dateType"/>
	<xsd:element name="tag" type="stringType"/>
	<xsd:element name="topic" type="stringType"/>
	<xsd:element name="project" type="stringType"/>
	<xsd:element name="nodes" type="stringType>"/>
</xsd:complexType>

<xsd:element name="row" type="rowType"/>

</xsd:schema>
